#header {
    text-align: center;
    padding: 20px;
}
.reloader {
    cursor: hand;
}

#avatars {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    counter-reset: avatar-count;
    flex-wrap: wrap;
}
.avatar {
    counter-increment: avatar-count;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    transform-origin: top left;
    width: 187px;
    height: 243px;
}
.label {
    margin-bottom: 10px;
    font-size: small;
}
.avatar.speaking {
    animation: avatar-etc-speaking 0.2s steps(2) infinite;
}
@keyframes avatar-etc-speaking {
    to {
        background-position: -374px 0;
    }
}